@model PackageDelivery.GUI.Models.Parameters.DeliveryModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeliveryModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SendDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdAddressDestination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAddressDestination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPackage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPackage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdDeliveryState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryStateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTransportType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
